<h1>Editando esta noticia</h1>

<%= render "form", newspaper: @newspaper %>

<br>

<div>
  <%= link_to "Mostrar esta noticia", @newspaper %> |
  <%= link_to "Volver a noticias", newspapers_path %>
</div>
